name: Backend CI



on:
    push:
      branches: [ master ]
      paths:
          - 'server/**'
          - 'mongo/**'
          - '.github/workflows/backend-ci-cd.yml'
    pull_request:
        paths:
            - 'server/**'

permissions:
    contents: read
    packages: write



jobs:
    backend-tests-and-push:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Code
              uses: actions/checkout@v3


            - name: Set up Node.js
              uses: actions/setup-node@v3
              with:
                node-version: '22'

            - name: Install dependencies
              working-directory: ./server
              run: npm install

            - name: Run backend tests
              working-directory: ./server
              run: npm test

            # Docker setup
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Log in to GHCR
              uses: docker/login-action@v3
              with:
                registry: ghcr.io
                username: ${{ github.actor }}
                password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build and push backend image
              uses: docker/build-push-action@v5
              with:
                context: ./server
                push: true
                tags: ghcr.io/${{ secrets.GHCR_USERNAME }}/ims_backend:latest

            - name: SSH deploy backend to VPS
              uses: webfactory/ssh-agent@v0.9.0
              with:
                ssh-private-key: ${{ secrets.VPS_SSH_KEY }}

            # - name: Restart backend via SSH
            #   run: |
            #     ssh -o StrictHostKeyChecking=no ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }} << 'EOF'
            #       cd /home/ubuntu/app/IMS
            #       docker pull ghcr.io/${{ secrets.GHCR_USERNAME }}/ims_backend:latest
            #       docker compose up -d
            #     EOF
                